@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Coming+Soon&family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Indie+Flower&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background-color: #FEF5DA;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 78px;
    background: #1d3146;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 1000;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}

.sidebar .logo_content .logo img {
    padding-top: 70px;
    padding-bottom: 50px;
    width: 30%;
    height: auto;
}

.logo_content .logo {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    padding-top: 40px;
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    padding-left: 10px;
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    border-radius: 12px;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    display: block;
    transition: opacity 0.4s ease;
    z-index: 1;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #1b1d21;
    background: #fff;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.header {
    width: 100%; /* Make sure header spans full width */
    padding: 6px 6px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding in width calculation */
    position: absolute; /* Adjust if needed, or use relative positioning */
    top: 0; /* Align to top of the container */
    z-index: 1;
    color: #2F1625;
}

.header h1 {
    font-family: "Abril Fatface";
    font-size: 2.5em;
    text-align: right; /* Align text to the left */
    margin: 0; /* Remove default margin */
}

.container {
    padding-top: 70px; /* Adjust padding as needed */
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    position: absolute;
    left: 78px; /* Adjusted for sidebar width */
    height: calc(100vh); /* Full viewport height minus padding */
    width: calc(100% - 78px); /* Adjusted for sidebar width */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    grid-gap: 10px;
    transition: all 0.5s ease;
    z-index: 1;
    overflow-y: auto; /* Ensure vertical scrolling */
    box-sizing: border-box; /* Include padding in height calculation */
}

.sidebar.active ~ .container {
    left: 240px; /* Adjusted for expanded sidebar width */
    width: calc(100% - 240px); /* Adjusted for expanded sidebar width */
}

.container .box {
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    border-radius: 12px;
    transition: 0.5s;
}

.container .box img {
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.container .box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}

.container .box:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
}

.container .box:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
}

.container .box:nth-child(5) {
    grid-column: span 3;
    grid-row: span 1;
}

.container .box.rg {
    background-color: #FF6A71;
}

.container .box.ss {
    background-color: #ABA136;
}

.container .box.gg {
    background-color: #FEAEAE;
}

.container .box.lwc {
    background-color: #FFC84E;
}

.container .box.sa {
    background-color: #3B4677;
}

.container .box.cc {
    background-color: #941E44;
}

.container .box.shs {
    background-color: #F5B539;
}

@media (max-width: 850px) {
    .container {
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px; /* Adjust padding for smaller screens */
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .container .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}

@media(min-width: 471px) and (max-width:849px){
    .container{
    padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px; /* Adjust padding for smaller screens */
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
    .container .box {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}

@media (max-width: 470px) {
    .sidebar {
        width: 50px; /* Adjusted for narrower sidebar */
    }

    .sidebar.active {
        width: 200px; /* Adjusted for expanded narrower sidebar */
    }

    .sidebar ul li .tooltip {
        display: none;
    }

    .sidebar ul li i {
        display: none;
    }

    .container {
        padding-top: 80px;
        left: 50px; /* Adjusted for narrower sidebar */
        width: calc(100% - 50px); /* Adjusted for narrower sidebar */
    }

    .sidebar.active ~ .container {
        left: 200px; /* Adjusted for expanded narrower sidebar */
        width: calc(100% - 200px); /* Adjusted for expanded narrower sidebar */
    }
}