.pagecontent{
    padding-top: 18px; 
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 12px;
    position: absolute;
    left: 78px; 
    height: calc(100vh); 
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 1;
    overflow-y: auto; 
    box-sizing: border-box;
}

.sidebar.active ~ .pagecontent {
    left: 240px; 
    width: calc(100% - 240px); 
}

@media (max-width: 850px) {
    .pagecontent {
        padding-top: 18px;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px;
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
}

@media(min-width: 471px) and (max-width:849px){
    .pagecontent{
        padding-top: 18px;
        padding-left: 20px;
        padding-right: 10px;
        padding-bottom: 10px; 
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }
}

@media (max-width: 470px) {
    .pagecontent {
        padding-top: 18px;
        padding-left: 0px; 
        padding-right: 6px;
        width: calc(100% - 90px); 
    }

    .sidebar.active ~ .pagecontent {
        left: 200px; 
        padding-left: 20px;
        padding-bottom: 1rem;
        width: calc(100% - 200px); 
    }
}