@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flash-message {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  background-color: #f44336; /* Default to red for errors */
  border: 1px solid #d32f2f;
}

.flash-message.success {
  background-color: #4caf50; /* Green for success */
  border: 1px solid #388e3c;
}

.flash-message.error {
  background-color: #f44336; /* Red for error */
  border: 1px solid #d32f2f;
}

.flash-message.info {
  background-color: #2196f3; /* Blue for information */
  border: 1px solid #1976d2;
}


body,
input {
  font-family: "Poppins", sans-serif;
}

.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.auth-card {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  position: relative;
  z-index: 5;
}

.auth-title {
  font-size: 2rem;
  color: #444;
  margin-bottom: 1rem;
  text-align: center;
}

.auth-field {
  margin: 1rem 0;
}

.auth-field input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
}

.auth-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #5995fd;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #4d84e2;
}

.auth-link {
  text-align: center;
  margin-top: 1rem;
}

.auth-link a {
  color: #5995fd;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}

.container:before {
  content: "";
  position: absolute;
  height: 1500px;
  width: 1500px;
  top: -10%;
  left: -25%;
  background: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  border-radius: 50%;
  z-index: 1;
  transform: translateY(-50%);
  transition: 1.8s ease-in-out;
}

@media (max-width: 870px) {
  .container:before {
    width: 1200px;
    height: 1200px;
    left: -10%;
    top: 10%;
    transform: translateY(-30%);
  }
}

@media (max-width: 570px) {
  .container:before {
    width: 1000px;
    height: 1000px;
    left: 0%;
    top: 20%;
    transform: translateY(-20%);
  }
}
