<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Home</title>
    {% endblock title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/features.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/paging.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
                <div class="logo_name">StockUp</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list" id="nav_list">
            <li>
                <a href="/home">
                    <i class='bx bx-home'></i>
                    <span class="links_name">Home</span>
                </a>
                <span class="tooltip">Home</span>
            </li>
            <li>
                <a href="/fridgepeek">
                    <i class='bx bx-fridge'></i>
                    <span class="links_name">Fridge Peek</span>
                </a>
                <span class="tooltip">Fridge Peek</span>
            </li>
            <li>
                <a href="/shelf-alert">
                    <i class='bx bx-alarm-exclamation'></i>
                    <span class="links_name">Shelf Alert</span>
                </a>
                <span class="tooltip">Shelf Alert</span>
            </li>
            <li>
                <a href="/gourmet-goals">
                    <i class='bx bx-food-menu'></i>
                    <span class="links_name">Gourmet Goals</span>
                </a>
                <span class="tooltip">Gourmet Goals</span>
            </li>
            <li>
                <a href="/recipie-genie">
                    <i class='bx bxs-bowl-rice' ></i>
                    <span class="links_name">Recipie Genie</span>
                </a>
                <span class="tooltip">Recipie Genie</span>
            </li>
            <li>
                <a href="/shop-smart">
                    <i class='bx bx-cart-alt'></i>
                    <span class="links_name">Shop Smart</span>
                </a>
                <span class="tooltip">Shop Smart</span>
            </li>
        </ul>
    </div>

    <div class="container">
        {% block container %}
        
        {% endblock container %}
    </div>

    <div class="pagecontent">
        {% block pagecontent %}
        
        {% endblock pagecontent %}
    </div>

    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let navList = document.querySelector("#nav_list");

        btn.onclick = function() {
            sidebar.classList.toggle("active");
            if (window.innerWidth <= 480) {
                navList.classList.toggle("dropdown-active");
            }
        }

        window.addEventListener('resize', function() {
            if (window.innerWidth > 480) {
                navList.classList.remove("dropdown-active");
            }
        });
    </script>
</body>
</html>