{% extends 'base.html' %}

{% block container %}
<div class="box ss">
    <div class="savvy-saver">
        <p>Savvy Saver</p>
    </div>
</div>
<div class="box sa">
    <div class="shelf-alert">
        <p>Shelf Alert</p>
    </div>
</div>
<div class="box gg">
    <div class="gourmet-goals">
        <p>Gourmet Goals</p>
    </div>
</div>
<div class="box lwc">
    <div class="look-whts-chilling">
        <p>Look What's Chilling</p>
    </div>
</div>
<div class="box rg">
    <div class="recipie-genie">
        <img src="{{ url_for('static', filename='images/recipiegenie.png') }}" class="rgimg">
    </div>
</div>
<div class="box cc">
    <div class="calorie-crunch">
        <p>Calorie Crunch</p>
    </div>
</div>
<div class="box shs">
    <div class="shop-smart">
        <p>Shop Smart</p>
    </div>
</div>
{% endblock container %}