<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/index.css') }}">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="xx">
        </figure>
        <nav class="main-nav">
            <ul>
                <li><a href="#">StockUp</a></li>
            </ul>
        </nav>
        <button class = "btn" id ="GetStarted">Get Started</button>
    </header>

    <main>
        <section class="carousel next">
            <div class="list">
                <article class="item other_1">
                    <div class="main-content" 
                    style="background-color: #9c4d2f;">
                        <div class="content">
                            <h2>Fridge Peek</h2>
                            <p class="description">
                                Dive into the fun of keeping track of your fridge’s contents with Fridge Peek! This lively feature offers a dynamic view of your inventory, so you always know what’s on hand. Make fridge management enjoyable and keep your meals organized with ease.
                            </p>
                            
                        </div>
                    </div>
                    <figure class="image">
                        <img src="{{ url_for('static', filename='images/fridge1.png') }}" alt="xx">
                        <figcaption>Fridge Peek</figcaption>
                    </figure>
                </article>
                <article class="item active">
                    <div class="main-content" 
                    style="background-color: #f5bfaf;">
                        <div class="content">
                            <h2>Shelf-Alert</h2>
                            <p class="description">
                                Be the ultimate food guardian with Shelf-Alert. This cheerful feature alerts you before items expire, so you can use up your food in time and keep waste at bay. Enjoy peace of mind with timely freshness reminders and a well-organized kitchen.
                                </p>
                            
                        </div>
                    </div>
                    <figure class="image">
                        <img src="{{ url_for('static', filename='images/fridge1.png') }}" alt="xx">
                        <figcaption>Shelf alert</figcaption>
                    </figure>
                </article>
                <article class="item other_2">
                    <div class="main-content" 
                    style="background-color: #dedfe1;">
                        <div class="content">
                            <h2>Tasty Treasures</h2>
                            <p class="description">
                                Safeguard your favorite recipes and culinary creations in one secure place. Dish Vault makes it easy to store and retrieve your top dishes whenever you need them.
                            </p>
                            
                        </div>
                    </div>
                    <figure class="image">
                        <img src="{{ url_for('static', filename='images/fridge1.png') }}" alt="xx">
                        <figcaption>Tasty Treasures</figcaption>
                    </figure>
                </article>
                <article class="item">
                    <div class="main-content" 
                    style="background-color: #7eb63d;">
                        <div class="content">
                            <h2>Recipie Genie</h2>
                            
                            <p class="description">
                                Let your meals shine with Recipe Genie! This vibrant feature illuminates new recipe ideas based on what’s in your fridge, making every meal an opportunity for culinary delight. Spark your creativity and discover new flavors with a dash of brilliance.
                            </p>
                        </div>
                    </div>
                    <figure class="image">
                        <img src="{{ url_for('static', filename='images/fridge1.png') }}" alt="xx">
                        <figcaption>Recipie Genie</figcaption>
                    </figure>
                </article>
                <article class="item">
                    <div class="main-content" 
                    style="background-color: #7eb63d;">
                        <div class="content">
                            <h2>Recipie Genie</h2>
                            
                            <p class="description">
                                Let your meals shine with Recipe Genie! This vibrant feature illuminates new recipe ideas based on what’s in your fridge, making every meal an opportunity for culinary delight. Spark your creativity and discover new flavors with a dash of brilliance.
                            </p>
                        </div>
                    </div>
                    <figure class="image">
                        <img src="{{ url_for('static', filename='images/fridge1.png') }}" alt="xx">
                        <figcaption>Recipie Genie</figcaption>
                    </figure>
                </article>
            </div>
            <div class="arrows">
                <button id="prev"></button>
                <button id="next"></button>
            </div>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>